[Desktop Entry]
Type=Application
Name=Invoicing
GenericName=Invoice Generator
Comment=Generate professional invoices by line item
Exec=invoicing
Icon=com.bhh32.Invoicing
Terminal=false
Categories=Office;Finance;
Keywords=invoice;billing;accounting;hours;time;freelance;business;
StartupNotify=true
StartupWMClass=com.bhh32.Invoicing
MimeType=application/json;
